header[b-lg2kr5owtq] {
    padding: 2%;
    margin: 2%;
    background-color: #006747;
    border-radius: 10px;
    color: white;
}

div[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
}

input:invalid[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    border: 4px solid red;
}

body[b-lg2kr5owtq] {
    margin: auto;
    width: 60vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    background-image: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

p[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    margin: auto;
    margin-bottom: 2em;
}

PageTitle[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

label[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

input[b-lg2kr5owtq], select[b-lg2kr5owtq] {
    offset: 200px;
    text-indent: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 3px solid #a9a9a9;
    padding: .25%;
    border-radius: 2vh;
    width: 35%;
}

button[b-lg2kr5owtq] {
    color: white;
    background-color: #78BE42;
    border: none;
    width: 17.5%;
    font-size: 15px;
    padding: .5%;
    border-radius: 2vh;
}

footer[b-lg2kr5owtq] {
    width: 100%;
    margin: 2%;
}
