h1[b-7kqn8g943v] {
    height: 10%;
}

body[b-7kqn8g943v], div[b-7kqn8g943v] {
    background-color: transparent;
}

section[b-7kqn8g943v] {
    margin: auto;
    width: 60vw;
    height: 30vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

button[type="submit"][b-7kqn8g943v] {
    width: 15vw;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #78BE42;
    border: 3px solid #78BE42;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 2vh;
}

b[b-7kqn8g943v] {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #78BE42;
    border: 3px solid #78BE42;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 2vh;
}


img[b-7kqn8g943v] {
    width: 100%;
    height: auto;
    max-width: 50vw;
}

a[b-7kqn8g943v] {
    color: #a9a9a9;
}

button[b-7kqn8g943v] {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #a9a9a9;
}