body[b-n17afsof3f] {
    padding: 20px;
    background-image: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

PageTitle[b-n17afsof3f] {
    font-size: 30px;
}

label[b-n17afsof3f] {
    font-size: 20px;
}

table[b-n17afsof3f] {
    width: 100%;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}


tr[b-n17afsof3f] {
    background-color: #DDEFEF;
    border: solid px #DDEEEE;
    padding: 10px;
    text-align: left;
}


    tr:nth-child(even)[b-n17afsof3f] {
        background: #CCC;
    }

    tr:nth-child(odd)[b-n17afsof3f] {
        background: #FFF;
    }

    tr:first-child[b-n17afsof3f] {
        text-shadow: none;
        font-size: 20px;
        background: #006747;
        color: white;
        border-radius: 10px;
    }


th[b-n17afsof3f] {
    font-weight: normal;
    padding: 10px;
}

p[b-n17afsof3f] {
    padding: 1%;
    border-radius: 1vh;
    display: grid;
    background-color: #CCC;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

button[b-n17afsof3f] {
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    color: white;
    background-color: #78BE42;
}
