

.main {
    background-image: url('https://www.commercebank.com/-/media/cb/articles/personal/2017/tips-for-making-the-most-of-your-job.jpg?sc=1&revision=94074016-44d3-413d-930b-02d4df1563f3&modified=20170908165600&hash=C23F8BBDC8D0270B4928738A70323E5F074420C3');
    background-size: cover;
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

.input[type="text"] {
    offset: 200px;
    margin: auto;
    text-indent: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: 3px solid #a9a9a9;
    padding: 2px;
    border-radius: 2vh;
}
