/* _content/CommerceBlazorServer/Pages/Create.razor.rz.scp.css */
header[b-lg2kr5owtq] {
    padding: 2%;
    margin: 2%;
    background-color: #006747;
    border-radius: 10px;
    color: white;
}

div[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
}

input:invalid[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    border: 4px solid red;
}

body[b-lg2kr5owtq] {
    margin: auto;
    width: 60vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    background-image: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

p[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    margin: auto;
    margin-bottom: 2em;
}

PageTitle[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

label[b-lg2kr5owtq] {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

input[b-lg2kr5owtq], select[b-lg2kr5owtq] {
    offset: 200px;
    text-indent: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 3px solid #a9a9a9;
    padding: .25%;
    border-radius: 2vh;
    width: 35%;
}

button[b-lg2kr5owtq] {
    color: white;
    background-color: #78BE42;
    border: none;
    width: 17.5%;
    font-size: 15px;
    padding: .5%;
    border-radius: 2vh;
}

footer[b-lg2kr5owtq] {
    width: 100%;
    margin: 2%;
}
/* _content/CommerceBlazorServer/Pages/Home.razor.rz.scp.css */
body[b-2qvi1hb5bp] {
    padding: 20px;
    background-image: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
    height: 90%;
}

p[b-2qvi1hb5bp] {
    margin-top: 2em;
    margin-bottom: 10em;
    margin-left: 2em;
}

PageTitle[b-2qvi1hb5bp] {
    font-size: 30px;
}

label[b-2qvi1hb5bp] {
    font-size: 20px;
}

div[b-2qvi1hb5bp] {
    height: 38vw;
    display: grid;
    grid-auto-flow: column;
}

footer[b-2qvi1hb5bp] {
    margin-top: 100px;
}

.graph[b-2qvi1hb5bp] {
    margin-bottom: 1em;
    font-family: Poppins;
}

    .graph caption[b-2qvi1hb5bp] {
        text-align: center;
    }

    .graph tbody th[b-2qvi1hb5bp] {
        text-align: right;
    }

@supports (display:grid) {

    @media (min-width:25em) {

        .graph[b-2qvi1hb5bp] {
            display: block;
            width: 600px;
            height: 300px;
        }

            .graph caption[b-2qvi1hb5bp] {
                display: block;
            }

            .graph thead[b-2qvi1hb5bp] {
                display: none;
            }

            .graph tbody[b-2qvi1hb5bp] {
                position: relative;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
                align-items: end;
                height: 100%;
                margin: 1em 2em 1em 1em;
                padding: 0 1em;
                border-bottom: 2px solid rgba(0,0,0,0.5);
                background: repeating-linear-gradient( 180deg, rgba(170,170,170,0.7) 0, rgba(170,170,170,0.7) 1px, transparent 1px, transparent 20% );
            }

                .graph tbody[b-2qvi1hb5bp]:before,
                .graph tbody[b-2qvi1hb5bp]:after {
                    position: absolute;
                    left: -3.2em;
                    width: 2.8em;
                    text-align: right;
                }

            .graph tr[b-2qvi1hb5bp] {
                position: relative;
                display: block;
            }

            .graph th[b-2qvi1hb5bp],
            .graph td[b-2qvi1hb5bp] {
                display: block;
                text-align: center;
            }

            .graph tbody th[b-2qvi1hb5bp] {
                position: absolute;
                top: -2em;
                left: 0;
                width: 100%;
                font-weight: normal;
                text-align: center;
                white-space: nowrap;
                text-indent: 0;
            }

            .graph td[b-2qvi1hb5bp] {
                width: 100%;
                height: 100%;
                border-radius: 0.1em 0.1em 0 0;
                transition: background 0.5s;
                color: white;
            }
    }
}
/* _content/CommerceBlazorServer/Pages/Login.razor.rz.scp.css */
h1[b-7kqn8g943v] {
    height: 10%;
}

body[b-7kqn8g943v], div[b-7kqn8g943v] {
    background-color: transparent;
}

section[b-7kqn8g943v] {
    margin: auto;
    width: 60vw;
    height: 30vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

button[type="submit"][b-7kqn8g943v] {
    width: 15vw;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #78BE42;
    border: 3px solid #78BE42;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 2vh;
}

b[b-7kqn8g943v] {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #78BE42;
    border: 3px solid #78BE42;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 2vh;
}


img[b-7kqn8g943v] {
    width: 100%;
    height: auto;
    max-width: 50vw;
}

a[b-7kqn8g943v] {
    color: #a9a9a9;
}

button[b-7kqn8g943v] {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #a9a9a9;
}
/* _content/CommerceBlazorServer/Pages/Recover.razor.rz.scp.css */
header[b-bzl5q206dy] {
    padding: 2%;
    margin: 2%;
    background-color: #006747;
    border-radius: 10px;
    color: white;
}

div[b-bzl5q206dy] {
    font-family: "Poppins", sans-serif;
}

input:invalid[b-bzl5q206dy] {
    font-family: "Poppins", sans-serif;
    border: 4px solid red;
}

body[b-bzl5q206dy] {
    margin: auto;
    width: 60vw;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    background-image: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

p[b-bzl5q206dy] {
    font-family: "Poppins", sans-serif;
    margin: auto;
    margin-bottom: 2em;
}

PageTitle[b-bzl5q206dy] {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

label[b-bzl5q206dy] {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

input[b-bzl5q206dy], select[b-bzl5q206dy] {
    offset: 200px;
    text-indent: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 3px solid #a9a9a9;
    padding: .25%;
    border-radius: 2vh;
    width: 35%;
}

button[b-bzl5q206dy] {
    color: white;
    background-color: #78BE42;
    border: none;
    width: 17.5%;
    font-size: 15px;
    padding: .5%;
    border-radius: 2vh;
}

footer[b-bzl5q206dy] {
    width: 100%;
    margin: 2%;
}
/* _content/CommerceBlazorServer/Pages/Settings.razor.rz.scp.css */
input:invalid[b-ak2hilm075] {
    border: 4px solid red;
}

body[b-ak2hilm075] {
    padding: 20px;
    background-image: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

p[b-ak2hilm075] {
    margin-top: 2em;
    margin-bottom: 10em;
    margin-left: 2em;
}

PageTitle[b-ak2hilm075] {
    font-size: 30px;
}

label[b-ak2hilm075] {
    font-size: 20px;
}

button[b-ak2hilm075] {
    width:stretch;
    border: none;
    color: white;
    background-color: #78BE42;
}
/* _content/CommerceBlazorServer/Pages/Transactions.razor.rz.scp.css */
body[b-n17afsof3f] {
    padding: 20px;
    background-image: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.25rem rgb(48, 48, 48));
}

PageTitle[b-n17afsof3f] {
    font-size: 30px;
}

label[b-n17afsof3f] {
    font-size: 20px;
}

table[b-n17afsof3f] {
    width: 100%;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}


tr[b-n17afsof3f] {
    background-color: #DDEFEF;
    border: solid px #DDEEEE;
    padding: 10px;
    text-align: left;
}


    tr:nth-child(even)[b-n17afsof3f] {
        background: #CCC;
    }

    tr:nth-child(odd)[b-n17afsof3f] {
        background: #FFF;
    }

    tr:first-child[b-n17afsof3f] {
        text-shadow: none;
        font-size: 20px;
        background: #006747;
        color: white;
        border-radius: 10px;
    }


th[b-n17afsof3f] {
    font-weight: normal;
    padding: 10px;
}

p[b-n17afsof3f] {
    padding: 1%;
    border-radius: 1vh;
    display: grid;
    background-color: #CCC;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

button[b-n17afsof3f] {
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    color: white;
    background-color: #78BE42;
}
/* _content/CommerceBlazorServer/Shared/DefaultLayout.razor.rz.scp.css */


.main[b-2zxeymma41] {
    background-image: url('https://www.commercebank.com/-/media/cb/articles/personal/2017/tips-for-making-the-most-of-your-job.jpg?sc=1&revision=94074016-44d3-413d-930b-02d4df1563f3&modified=20170908165600&hash=C23F8BBDC8D0270B4928738A70323E5F074420C3');
    background-size: cover;
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

.input[type="text"][b-2zxeymma41] {
    offset: 200px;
    margin: auto;
    text-indent: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: 3px solid #a9a9a9;
    padding: 2px;
    border-radius: 2vh;
}
/* _content/CommerceBlazorServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-abwf12hp6d] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.div[b-abwf12hp6d] {
    font-family: "Poppins", sans-serif;
}

.main[b-abwf12hp6d] {
    flex: 1;
}


.sidebar[b-abwf12hp6d] {
    background-image: linear-gradient(45deg, #4FA800 0%, #006747 100%);
}

.top-row[b-abwf12hp6d] {
    background-color: white;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    width: 88vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-abwf12hp6d]  a, .top-row .btn-link[b-abwf12hp6d] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-abwf12hp6d] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-abwf12hp6d] {
        display: none;
    }

    .top-row.auth[b-abwf12hp6d] {
        justify-content: space-between;
    }

    .top-row a[b-abwf12hp6d], .top-row .btn-link[b-abwf12hp6d] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-abwf12hp6d] {
        background-image: url('https://www.commercebank.com/-/media/cb/articles/personal/2017/tips-for-making-the-most-of-your-job.jpg?sc=1&revision=94074016-44d3-413d-930b-02d4df1563f3&modified=20170908165600&hash=C23F8BBDC8D0270B4928738A70323E5F074420C3');
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: row;
    }

    .sidebar[b-abwf12hp6d] {
        width: 12vw;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-abwf12hp6d] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-abwf12hp6d], article[b-abwf12hp6d] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CommerceBlazorServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wyupt6epzz] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-wyupt6epzz] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-wyupt6epzz] {
    font-size: 1.1rem;
}

.oi[b-wyupt6epzz] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-wyupt6epzz] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-wyupt6epzz] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-wyupt6epzz] {
        padding-bottom: 1rem;
    }

    .nav-item[b-wyupt6epzz]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-wyupt6epzz]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-wyupt6epzz]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

img[b-wyupt6epzz] {
    width: 8vw;
    padding: unset;
}


@media (min-width: 641px) {
    .navbar-toggler[b-wyupt6epzz] {
        display: none;
    }

    .collapse[b-wyupt6epzz] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
